<form [formGroup] = "msgform" (ngSubmit) = "sendData()" >
<div>
<label for="message"></label>
<input type="text" name = "message" id = "message" 
class = "form-control" formControlName ="message">

  
</div>
<div>
<label for="user"></label>
<input type="text" name = "user" id = "user" class = "form-control" formControlName ="user">
</div>


<input type="submit" value = "Send The Message"
class = "btn btn-primary">


  </form>