<form [formGroup] = "msgform" (ngSubmit) = "sendData()" >
  <h2>Update Message</h2>
<div>
<label for="message"></label>
<input type="text" name = "message" id = "message" class = "form-control" formControlName ="message" value="{{message?.body}}">

  
</div>
<div>
<label for="user"></label>
<input type="text" name = "user" id = "user" class = "form-control" formControlName ="user" value="{{message?.user_id}}" >
</div>


<input type="submit" value = "Update The Message" class = "btn btn-primary">


  </form>