<messagesForm (addMessage)="optimisticAdd($event)" (addMessagePs)="pessimisticAdd()"></messagesForm>
<h2>
 List Of Messages
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of messagesKeys">
    <button class="btn btn-outline-primary" (click)="deleteMessage(key)">Delete</button>
    <button class="btn btn-outline-primary" [routerLink] = "['']">SQL DataBase</button>
    <button class="btn btn-outline-primary" [routerLink] =  "['/messagesf']" >FireBase</button>
    <button class="btn btn-success" [routerLink] = "['/messages']">{{Update}}Update</button>
    <a [routerLink] = "['/message', key]">{{'message number' + key + ' ' + messages[key].body}}</a></li>
  </ul>