<!--form [formGroup] = "userform" (ngSubmit) = "sendData()" >

<div>
<label for="user"></label>
<input type="text" name = "user" id = "user" class = "form-control" formControlName ="user">
</div>


<input type="submit" value = "Send The Message"
class = "btn btn-primary">


  </form-->


  
